<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>HOME</title>
</head>
<body>
    <header>
        <nav>
            <li><a href="/fridaygame"></a></li>
            <li><a href="/Glasshouse"></a></li>
            <li><a href="/Stickfigure"></a></li>
            <li><a href="/Stickfigure"></a></li>
        </nav>
    </header>
    <main>
    {{{body}}}
    </main>
    <footer>Copyright 2022</footer>

</body>
</html>